{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}Operación no permitida - Primarias abiertas Elecciones Europeas 2014 | Confederación Pirata{% endblock %}
{% block hero %}
<h1>Error 404</h1>
<h2>Vaya, no sabemos encontrar lo que nos pides</h2>
<p>Revisa la dirección o <a href="{% url 'index' %}">vuelve al inicio.</a> Si crees que aquí falta algo, <a href="http://www.confederacionpirata.org/contacto">¡contáctanos!</a></p>
{% endblock %}
{% block content %}
{% include 'guide.html' %}
{% endblock %}
