{% extends 'layout.html' %}

{% block title %}Calendario | #EuropaPirata - Elecciones Europeas 2014 | Confederación Pirata{% endblock %}
{% block menu %}
{% include 'mm.html' %}
{% endblock %}
{% block hero %}
<h1>Calendario</h1>
<p>Todo el proceso de primarias al detalle.</p>
{% endblock %}
{% block content %}
<article><p>La Confederación Pirata abre un proceso transparente y plenamente democrático para elegir a los candidatos de la lista para las elecciones al Parlamento Europeo que se celebrarán el 25 de mayo en España. Este proceso constará de dos fases, primero la elección de los tres cabezas de lista y, posteriormente, la elección del resto de la lista.</p>
<p>Estas votaciones, eso sí, estarán supeditadas al cumplimiento del artículo 44 bis de la Ley Orgánica de Régimen Electoral General por el que en cada bloque de cinco candidatos debe haber un mínimo de dos personas de cada género. Será la Coordinadora Confederal la encargada de realizar las modificaciones.</p>
<p><strong>Del 6 al 22 de enero de 2014</strong><br />
Se recogerán las candidaturas para ocupar los tres primeros puestos de la lista. Podrá presentarse todo afiliado o simpatizante, o persona ajena al partido con el apoyo de la junta de alguno de los partidos de la Confederación o de la propia Coordinadora Confederal para regiones sin partido propio.</p>
<p><strong>Del 27 de enero al 9 de febrero</strong><br />
Se celebrará una &#8216;campaña electoral&#8217;, que incluirá un mínimo de dos debates online y un lugar donde poder preguntar por escrito a cada candidato, para que los afiliados y simpatizantes de los diferentes partidos confederados puedan conocerlos.</p>
<p><strong>Del 10 al 16 de febrero</strong><br />
Periodo de votaciones que se cerrará a las 23:59 del domingo 16 de febrero. Durante el mismo se podrá seguir preguntando a los candidatos pero no habrán más debates.</p>
<p><span style="color: #800000;"><strong>Lunes 17 de febrero</strong></span><br />
La Coordinadora Confederal, tras una reunión extraordinaria, proclamará los resultados de la votación.</p>
<p><strong>Del 17 de febrero al 5 de marzo</strong><br />
Se recogerán las candidaturas para ocupar el resto de puestos de la lista, en las mismas condiciones que la votación anterior. Los candidatos que no hayan resultado electos en la primera votación deberán reafirmar su intención de participar en esta segunda.</p>
<p><strong>Del 10 al 16 de marzo</strong><br />
Segunda &#8216;campaña electoral&#8217;, que no tendrá debates, pero si un lugar donde poder preguntar por escrito a cada candidato, tal y como sucedió en la primera votación.</p>
<p><strong>Del 17 al 22/23 de marzo</strong><br />
Periodo de votaciones que se cerrará el sábado 22 o domingo 23, según establezca el programa de la I Asamblea General de la Confederación Pirata. Durante la votación se mantendrá abierto el espacio para preguntas a los candidatos.</p>
<p><span style="color: #800000;"><strong>22/23 de marzo</strong></span><br />
La Coordinadora Confederal, tras una reunión extraordinaria a la que acudirán los miembros electos por la Asamblea General, proclamará los resultados de la votación, así como la lista definitiva tras cumplir con lo establecido en el artículo 44 bis de la LOREG.</p>
</article>
{% endblock %}
