{% extends 'layout.html' %}

{% block title %}Candidatos | #EuropaPirata - Elecciones Europeas 2014 | Confederación Pirata{% endblock %}
{% block menu %}
{% include 'mm.html' %}
{% endblock %}
{% block hero %}
<h1>Candidatos</h1>
<p>{% if phase == 1 %}<a href="/candidates">Aquí encontrarás</a>{% else %}Estas son{% endif %} las candidaturas para la segunda fase de las primarias abiertas. La votación está abierta hasta el día 23 a las 20:00. Puedes votar <a href="https://agora.confederacionpirata.org/">aquí</a>.</p>
{% endblock %}
{% block content %}
{% if phase == 1 %}
<h2>Candidatos - Primera fase</h2>
{% else %}
<h2>Candidatos - Segunda fase</h2>
{% endif %}
{% for c in candidates %}
{% if c.photo %}
<div class="row">
<div class="col-sm-9">
{% endif %}
<a href="/candidates/{{c.id}}"><h3>{{c.supporter.name}}</h3></a>
<div class="bio">
{% include 'ccard.html' %}
</div>
{% if c.photo %}
</div>
<div class="col-sm-3 photo photo-bio-list hidden-xs">
	<img width="150" height="150" src="http://{{request.get_host}}{{STATIC_URL}}photos/{{c.photo}}" alt="{{c.supporter.name}}">
</div>
</div>
{% endif %}
{% endfor %}
{% endblock %}
