{% extends 'layout.html' %}

{% block title %}Candidatos | #SeBuscanPiratas - Primarias abiertas Elecciones Europeas 2014 | Confederación Pirata{% endblock %}
{% block menu %}
{% include 'mm.html' %}
{% endblock %}
{% block hero %}
<h1>Candidatos</h1>
<p>Próximamente se publicarán las candidaturas para la segunda fase de las primarias abiertas. La votación se iniciará el día 10 de marzo. Puedes consultar los candidatos de la primera fase <a href="https://agora.confederacionpirata.org/">aquí</a>.</p>
<p>Si quieres votar, <a href="http://piratas2014.eu/">¡reg&iacute;strate!</a></p>
{% endblock %}
{% block content %}
{% if phase == 1 %}
<h2>Candidatos - Primera fase</h2>
{% endif %}
{% for c in candidates %}
{% if c.photo %}
<div class="row">
<div class="col-sm-9">
{% endif %}
<a href="/candidates/{{c.id}}"><h3>{{c.supporter.name}}</h3></a>
<div class="bio">
{% include 'ccard.html' %}
</div>
{% if c.photo %}
</div>
<div class="col-sm-3 photo photo-bio-list hidden-xs">
	<img width="150" height="150" src="http://{{request.get_host}}{{STATIC_URL}}photos/{{c.photo}}" alt="{{c.supporter.name}}">
</div>
</div>
{% endif %}
{% endfor %}
{% endblock %}
