{% extends 'layout.html' %}

{% block title %}Ideario | #SeBuscanPiratas - Primarias abiertas Elecciones Europeas 2014 | Confederación Pirata{% endblock %}
{% block menu %}
{% include 'mm.html' %}
{% endblock %}
{% block hero %}
<h1>Nuestras ideas</h1>
<p>Estas son nuestras ideas, las que defendemos para construir una nueva Europa.</p>
{% endblock %}
{% block content %}
<ul class="nav nav-pills nav-justified">
	<li><a href="#dd">Democracia Directa</a></li>
	<li><a href="#ddhh">Derechos Humanos</a></li>
	<li><a href="#t">Transparencia</a></li>
</ul>
<ul class="nav nav-pills nav-justified">
	<li><a href="#p">Privacidad</a></li>
	<li><a href="#sh">Compartir</a></li>
	<li><a href="#d">Diversidad</a></li>
</ul>
<ul class="nav nav-pills nav-justified">
	<li><a href="#r">Resiliencia</a></li>
	<li><a href="#ec">Economía al servicio de la ciudadanía</a></li>
	<li><a href="#l">Calidad legislativa</a></li>
</ul>
<h2>Las tres leyes piratas</h2>
<p>Estas leyes rigen nuestro funcionamiento interno y en los órganos de gobierno:</p>
<ul>
<li><strong>Primera ley:</strong> un pirata actuará siempre a favor de la <a class="extern" href="http://www.ohchr.org/EN/UDHR/Pages/Language.aspx?LangID=spn">Declaración Universal de los Derechos Humanos</a>.</li>
</ul>
<ul>
<li><strong>Segunda ley:</strong> un pirata actuará siempre a favor del Ideario Pirata, siempre que no vaya en contra de la primea ley.</li>
</ul>
<ul>
<li><strong>Tercera ley:</strong> un pirata actuará siempre lo que decida la Asamblea de afiliados, mediante democracia directa, siempre que no vaya en contra de la primera o la segunda ley.</li>
</ul>
<p>En caso de que haya más de un representante pirata, éstos votarán de forma proporcional al resultado que se haya obtenido por democracia directa en la Asamblea.</p>
<h2 id="dd">Democracia Directa</h2>
<ul>
<li>Empoderar a cada ciudadano y convertir a los gobiernos en simples gestores de la cosa pública y ejecutores de la voluntad de la ciudadanía.</li>
<li>Establecer la democracia directa como mecanismo estatal de toma de decisiones políticas, donde cada ciudadano puede representarse a sí mismo en igualdad de derechos, obligaciones y oportunidades para exponer sus puntos, iniciativas y propuestas.</li>
<li>Fomentar herramientas que permitan profundizar más en una democracia real, no sometida a intereses bastardos, donde las instituciones escuchen proactivamente a la ciudadanía.</li>
</ul>
<h2 id="ddhh">Derechos Humanos</h2>
<ul>
<li>Garantizar que las leyes y acciones decididas satisfacen los criterios establecidos en la Declaración Universal de Derechos Humanos, suscrita por nuestro estado.</li>
<li>Proteger y priorizar el sostenimiento y cumplimiento de los derechos y libertados reconocidos, incluyendo pensamiento, expresión, reunión, asociación, difusión, investigación y elección del trabajo pero también: justicia, equidad, educación, seguridad social, condiciones adecuadas para el trabajo, protección a la maternidad y la infancia, calidad de vida digna, alimentación, vestido, vivienda, asistencia médica y los servicios sociales necesarios, protección en caso de desempleo, enfermedad, invalidez, viudez, vejez u otros casos de pérdida de sus medios de subsistencia por circunstancias independientes de su voluntad y participación activa del ciudadano dentro del estado democrático.</li>
<li>Compatibilizar la lucha contra la delincuencia y el terrorismo con la Declaración Universal de Derechos Humanos, con especial énfasis en los referentes a la presunción de inocencia, la privacidad y la libertad de expresión, tanto dentro como fuera de Internet.</li>
<li>En arreglo a lo anterior, condenamos y rechazamos la violencia aplicada para promover reivindicaciones políticas al margen de los cauces democráticos, así como los atentados contra la vida o la integridad de las personas y la exclusión o persecución de personas por razón de su ideología, religión o creencias, nacionalidad, raza, sexo u orientación sexual.</li>
</ul>
<h2 id="t">Transparencia</h2>
<ul>
<li>Establecer políticas y prácticas de Gobierno Abierto a todos los niveles de la administración pública, incluyendo a los organismos públicos o privados que reciben dinero público.</li>
<li>Garantizar la incondicionalidad y proactividad de la transparencia, en formatos que permitan su análisis y estudio.
Proporcionar protección total a aquellos individuos que vieran su integridad comprometida trabajando en favor de la misma.</li>
</ul>
<h2 id="p">Privacidad</h2>
<ul>
<li>Defender la privacidad de las personas, así como su libre albedrío sobre qué hacer con su cuerpo, su correspondencia, sus datos, su identidad, su localización, su vivienda y su economía (con la excepción del dinero público).</li>
<li>Instaurar en las administraciones públicas el uso de software, documentación y formatos estándares, libres y no privativos, no sólo en aras de la neutralidad tecnológica, sino para también garantizar la seguridad y privacidad de toda la información sensible de los ciudadanos que se encuentre a su disposición.</li>
<li>Garantizar que sólo puede vulnerar la privacidad una autoridad competente cuando se tenga una sospecha previa, individual y concreta de haberse cometido un delito específico y grave.</li>
</ul>
<h2 id="sh">Compartir</h2>
<ul>
<li>Garantizar el derecho de acceso a la cultura, bien común de la ciudadanía, sin considerar delictivo el libre intercambio, al ser una forma justa y eficaz de distribución de la cultura.</li>
<li>Eliminar e impedir barreras a la difusión de cultura, conocimientos, ideas, herramientas y sentimientos, al considerarse estas como barreras al desarrollo de toda la sociedad.</li>
<li>Garantizar que los resultados de cualquier investigación desarrollada con fondos públicos sea publicada en revistas científicas de acceso abierto u otro medio que sea accesible a la población en general.</li>
<li>Compatibilizar los derechos de los autores con los de las ciudadanos, desarrollando legislación prescindiendo de terminología confusa como propiedad intelectual o piratería, así como evitar la anteposición de intereses económicos al disfrute de la cultura por parte de la ciudadanía.</li>
<li>Derogar cualquier fórmula de remuneración compensatoria por copia privada y cualquier modelo de gestión de gestión de derechos de autor donde los autores obligatoriamente deban ceder sus derechos bajo condiciones perjudiciales para sus intereses.
Proteger el derecho del autor a elegir entre la autogestión o trabajar con entidades de gestión de derechos de autor.</li>
<li>Eliminar las patentes de software y sobre los seres vivos en el ordenamiento jurídico a todos los niveles, así como remodelar el sistema actual por un modelo de patentes abierto al desarrollo y a la innovación, que compatibilice el fomento y salvaguarda del esfuerzo innovador con el aprovechamiento del conocimiento previo para dinamizar la evolución de la tecnología en beneficio de la sociedad, evitando así mismo que deriven en monopolios privados</li>
<li>Para alcanzar los puntos anteriores, legislar buscando el diálogo entre los distintos colectivos implicados y la ciudadanía, para alcanzar soluciones satisfactorias para todos, de forma compatible con la integración social y jurídica de España en la Unión Europea y promoviendo la modificación de las directivas europeas en materia de derechos de autor y defensa, promoción y difusión de la cultura.</li>
</ul>
<h2 id="d">Diversidad</h2>
<ul>
<li>Promover la pluridad ideológica e institucional, para un desarrollo rápido de la sociedad en un entorno abierto.</li>
<li>Favorecer la policultura y diversidad de ideas y procesos, siempre en base a la libertad de pensamiento, opinión y expresión, así como en el respeto mútuo.</li>
<li>Luchar contra la discriminación y la exclusión o persecución de personas por razón de su ideología, religión o creencias, nacionalidad, raza, sexo u orientación sexual.</li>
</ul>
<h2 id="r">Resiliencia</h2>
<ul>
<li>Promover valores encaminados a crear una sociedad sana, madura y sostenible, que posea información, a raíz de la transparencia, y capacidad de respuesta, por democracia directa, ante maniobras hostiles de grupos de interés minoritarios contrarios a estos principios o circunstancias azarosas como desastres naturales.</li>
<li>Trabajar para universalizar el acceso a Internet y facilitar el acceso a información y cultura sin discriminación para alcanzar mayores niveles de educación y capacidad de pensamiento crítico.</li>
<li>Para garantizar el punto anterior, garantizar la neutralidad de la red como requisito de obligado cumplimiento y que todos los servicios de Internet existentes, así como los servicios de Internet que se desarrollen en un futuro, sean accesibles y ofertables sin restricciones ni discriminaciones entre unos servicios y otros.</li>
</ul>
<h2 id="ec">Economía al servicio de la ciudadanía</h2>
<ul>
<li>El movimiento pirata no es indiferente a la realidad económica ni al funcionamiento de la misma. Por ello, se propone estudiar y promover medidas, iniciativas y estrategias económicas que respeten y fortalezcan la Declaración Universal de los Derechos Humanos y nuestro ideario, sin perjuicio a la libertad individual ni al bien común.</li>
<li>La economía debe estar al servicio de la ciudadanía, supeditada a la democracia y debe fomentar la responsabilidad social, conviniendo su actuación dentro del marco globalizado actual, dotando de independencia y libertad, siempre que no se atente contra el bien común, garantizando que nadie sea excluido del sistema.</li>
</ul>
<h2 id="l">Calidad Legislativa</h2>
<ul>
<li>Establecer criterios de calidad que orienten la actividad legisladora hacia el buen funcionamiento del Estado y el bienestar de la ciudadania, desarrollando leyes efectivas a la hora de resolver problemas, proporcionales en cuanto a que no deben crear más problemas de los que pretenden resolver y estar basada en evidencias y derechos.</li>
<li>Eliminación de toda ley que no cumpla con los criterios de calidad establecidos.</li>
<li>Permitir la participación de la ciudadanía en la elaboración y propuesta de reformas y nuevas leyes por mecanismos de democracia directa.</li>
</ul>
{% endblock %}
