{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}#EuropaPirata - Elecciones Europeas 2014 | Confederación Pirata{% endblock %}
{% block menu %}
{% include 'mm.html' %}
{% endblock %}
{% block hero %}
<h2>¡Nos presentamos a las elecciones europeas del 25 mayo!</h2>
<p><strong>Europa decide sobre tu vida. <a href="https://confederacionpirata.org">¡Ahora decide sobre Europa!</a></strong></p>
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12">
	<h1>¡Participa en la campaña!</h1>
	</div>
</div>
<div class="row">
<div class="col-md-8">
	<div>
	<h3>Kit de difusión</h3>
	<p>Comparte y difunde tu candidatura preferida con nuestro <strong>Kit de difusión</strong>. Lo tienes en <a href="http://piratas2014.eu/s/kit_castellano.zip">castellano</a>, <a href="http://piratas2014.eu/s/kit_catala.zip">catalán</a>, <a href="http://piratas2014.eu/s/kit_euskara.zip">euskera</a> y <a href="http://piratas2014.eu/s/kit_galego.zip">gallego</a>.</p>
	</div>
	<div class="alert">
	<iframe src="//player.vimeo.com/video/94583099" width="603" height="339" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<div class="alert">
	<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/partidos_pirata" data-widget-id="416638262975811584">Tweets por @partidos_pirata</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>
<div class="col-md-4">
	<div class="alert alert-success">
	<h3>Programa</h3>
	<p>Lee y comparte nuestro <a href="http://bit.ly/piratas2014-programa">programa electoral abierto y colaborativo</a>.</p>
	</div>
	<div class="alert alert-warning">
	<h3>Donaciones</h3>
	<p>Ayúdanos en la campaña haciendo una donación. Puedes hacerlo con tarjeta de crédito en el botón de debajo (<strong>indica tu DNI o la donación será rechazada</strong>):</p>
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input name="cmd" value="_s-xclick" type="hidden"><br>
	<input name="hosted_button_id" value="J79R5EGA8YFFL" type="hidden"><br>
	<input src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal. La forma rápida y segura de pagar en Internet." border="0" type="image"><br>
	<img alt="" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" border="0" height="1" width="1"><br>
	</form>
	<p>O puedes hacerlo por transferencia bancaria en <strong>ES56 1465 0100 9619 0021 2384</strong>, indicando tu DNI en la descripción de la transferencia.</p>
	</div>
</div>
</div>
<p>&nbsp;</p>
<div id="ixsn" class="alert alert-info">
<p>Síguenos en las redes sociales:</p>
<a href="https://twitter.com/partidos_pirata" class="twitter-follow-button" data-show-count="false" data-lang="es">Síguenos en @partidos_pirata</a>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=127140777389290";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like" data-href="https://www.facebook.com/ConfederacionPirata" data-width="300" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div>
<p>&nbsp;</p>
{% include 'social.html' %}
</div>
{% endblock %}
