{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}#SeBuscanPiratas - Primarias abiertas Elecciones Europeas 2014 | Confederación Pirata{% endblock %}
{% block menu %}
{% include 'mm.html' %}
{% endblock %}
{% block hero %}
<p>¿Quieres construir una nueva Unión Europea? Buscamos gente como tú. ¡Únete a la candidatura europea de la <a href="https://confederacionpirata.org">Confederación Pirata</a>!
<p>Debes darte de alta como simpatizante y podrás votar a partir del 23 de Enero. Si quieres ser candidato, marca la casilla y sigue los pasos adicionales.</p>
<p>¡Tienes hasta el 22 de Enero!</p>
{% endblock %}
{% block content %}
<div class="alert alert-warning"><strong>Aviso sólo para afiliados:</strong> si eres afiliado de <a href="/join-us">un partido pirata de la Confederación</a>, no necesitas registrarte. Si quieres ser candidato, ponte en contacto con tu partido.</div>
{% crispy form %}
{% endblock %}
