{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}#EuropaPirata - Elecciones Europeas 2014 | Confederación Pirata{% endblock %}
{% block menu %}
{% include 'mm.html' %}
{% endblock %}
{% block hero %}
<h2>¡Nos presentamos a las elecciones europeas del 25 mayo!</h2>
<p>Si quieres <strong>construir una nueva Unión Europea</strong>, una Europa de las personas con los Derechos Humanos, la transparencia y la democracia directa por bandera, ¡esta es tu oportunidad!</p>
<p>Buscamos gente como tú. ¡Únete a la <strong>candidatura europea</strong> de la <a href="https://confederacionpirata.org">Confederación Pirata</a>!</p>
<p><strong>Europa decide sobre tu vida. ¡Ahora decide sobre Europa!</strong></p>
{% endblock %}
{% block content %}
<h1>¡Participa en la campaña!</h1>
<ol>
<li>
Comparte y difunde tu candidatura preferida con nuestro <strong>Kit de difusión</strong>. Lo tienes en <a href="http://piratas2014.eu/s/kit_castellano.zip">castellano</a>, <a href="http://piratas2014.eu/s/kit_catala.zip">catalán</a>, <a href="http://piratas2014.eu/s/kit_euskara.zip">euskera</a> y <a href="http://piratas2014.eu/s/kit_galego.zip">gallego</a>.
</li>
<li>Haz una <a href="https://confederacionpirata.org/donaciones/">donación</a>.</li>
<li>Lee y comparte nuestro <a href="https://confederacionpirata.org/programaabierto/doku.php/base:definitivo">programa electoral abierto y colaborativo</a>.</li>
</ol>
<p>&nbsp;</p>
<div id="ixsn" class="alert alert-info">
<p>Síguenos en las redes sociales:</p>
<a href="https://twitter.com/partidos_pirata" class="twitter-follow-button" data-show-count="false" data-lang="es">Síguenos en @partidos_pirata</a>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=127140777389290";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like" data-href="https://www.facebook.com/ConfederacionPirata" data-width="300" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div>
<p>&nbsp;</p>
{% include 'social.html' %}
</div>
{% endblock %}
