{% extends 'layout.html' %}

{% block title %}Hazte Pirata | #SeBuscanPiratas - Primarias abiertas Elecciones Europeas 2014 | Confederación Pirata{% endblock %}
{% block menu %}
{% include 'mm.html' %}
{% endblock %}
{% block hero %}
<h1>Hazte Pirata</h1>
<p>Afíliate y participa en un movimiento político internacional, asambleario y horizontal con presencia en todo el mundo, en más de 60 países, y con <a href="http://wiki.pp-international.net/Elected_Pirates">representación en el Parlamento Europeo</a>.</p>
{% endblock %}
{% block content %}
<p>Puedes solicitar ser miembro en la web de los partidos piratas que forman parte de la Confederación Pirata:</p>
<ul>
<li><a class="extern" href="http://www.piratasdeandalucia.org/sobre-nosotros/" target="_blank">Piratas de Andalucía</a></li>
<li><a class="extern" href="http://pirataaragon.es/" target="_blank">Piratas de Aragón (en proceso)</a></li>
<li><a class="extern" href="https://xifrat.pirata.cat/alta_afiliats" title="Pirates de Catalunya" target="_blank">Pirates de Catalunya</a></li>
<li><a class="extern" href="http://piratasdeextremadura.net/index.php/hazte-pirata" target="_blank">Piratas de Extremadura</a></li>
<li><a class="extern" href="https://piratasdegalicia.org/web/afiliacion" title="Piratas de Galicia" target="_blank">Piratas de Galicia</a></li>
<li><a class="extern" href="http://piratasdemadrid.org/hazte-pirata/" title="Piratas de Madrid" target="_blank">Piratas de Madrid</a></li>
<li><a class="extern" href="http://pirataslarioja.org/" target="_blank">Piratas de La Rioja</a></li>
</ul>
<p>Si no existe un partido pirata en tu comunidad autónoma, contáctanos en nuestro <a href="https://confederacionpirata.org/contacto/" title="formulario de contacto">formulario de contacto</a>.</p>
{% endblock %}
