{% extends 'layout.html' %}

{% block title %}Manifesto del candidato pirata | #SeBuscanPiratas - Primarias abiertas Elecciones Europeas 2014 | Confederación Pirata{% endblock %}
{% block menu %}
{% include 'mm.html' %}
{% endblock %}
{% block hero %}
<h1>Manifesto del candidato pirata</h1>
<p>Yo, [Insertar nombre], candidato pirata a las elecciones europeas, declaro: </p>
{% endblock %}
{% block content %}
<p>En el caso de salir elegido, no aceptaré el cargo de eurodiputado como si fuera de mi propiedad, sino que consideraré, en consonancia con los ideales piratas, que yo no me represento más que a mí mismo y no entraré en el juego de las partidocracias corruptas.</p>
<p>Mientras dure mi estancia en el Parlamento Europeo, mis acciones no contravendrán los principios del movimiento pirata ni las instrucciones dictaminadas por las asambleas de los distintos partidos pirata de la Confederación, y trabajaré por construir una verdadera democracia directa que incluya a todos los ciudadanos europeos, así como fomentar las iniciativas que potencien nuestros principios y trasladar las propuestas de las asambleas al Parlamento Europeo.</p>
<p>Si las asambleas demuestran y deciden que mi función como eurodiputado no se ajusta a estos principios, resignaré del cargo, seré reemplazado por el siguiente pirata en la lista y yo podré entrar en algún viejo partido más al estilo del siglo XX.</p>
{% endblock %}
