<ul id="mm" class="nav nav-pills">
	<li><a href="http://piratas2014.eu/"><span class="glyphicon glyphicon-home"></span></a></li>
	<li><a href="http://piratasdemadrid.org/ideario-pirata/">Ideario</a></li>
	<li><a href="/calendar">Calendario</a></li>
	<li><a href="https://confederacionpirata.org/wiki/ppeu_programa">Programa común europeo</a></li>
	<li><a href="http://confederacionpirata.org/hazte-pirata/">Quiero afiliarme</a></li>
	<li><a href="http://confederacionpirata.org/contacto/">Contacto</a></li>
</ul>
