<ul id="mm" class="nav nav-pills nav-justified">
	<li><a href="http://piratas2014.eu/">Inicio</a></li>
	<li><a href="http://piratas2014.eu/candidates">Candidatos</a></li>
	<li><a href="http://piratas2014.eu/ideas">Ideario</a></li>
	<li><a href="http://piratas2014.eu/ceep">Programa Com&uacute;n</a></li>
	<li><a href="http://piratas2014.eu/calendar">Calendario</a></li>
	<li><a href="http://piratas2014.eu/join-us">Quiero afiliarme</a></li>
	<li><a href="http://confederacionpirata.org/contacto/">Contacto</a></li>
</ul>
