<p>Ahora compártelo con tus amigos. ¡Regala democracia!</p>
<div id="accounts">
	<div id="shareme" data-url="http://piratas2014.eu/" data-text="#SeBuscanPiratas para construir una nueva Europa. Yo participo en las primarias abiertas de @partidos_pirata ¿Y tú?"></div>
</div>
<script src="//cdn.jsdelivr.net/sharrre/1.3.5/jquery.sharrre.min.js"></script>
<script>
$('#shareme').sharrre({
  share: {
    googlePlus: true,
    twitter: true,
    facebook: true
  },
  buttons: {
    googlePlus: {size: 'tall', annotation:'none', text: '#SeBuscanPiratas para construir una nueva Europa. Yo participo en las primarias abiertas de la Confederación Pirata. ¿Y tú?'},
    twitter: {count: 'none'},
    facebook: {layout: '', text: '#SeBuscanPiratas para construir una nueva Europa. Yo participo en las primarias abiertas de la Confederación Pirata. ¿Y tú?'}
  },
  enableHover: false,
  enableCounter: false,
  enableTracking: false
});
</script>
<p>&nbsp;</p>
