<hr>
<div id="accounts">
	<div id="shareme" data-url="http://piratas2014.eu/" data-text="Europa decide sobre tu vida. ¡Ahora decide sobre Europa! Por una #EuropaPirata #VotaPIRATAS el #25M #EP2014"></div>
</div>
<script src="//cdn.jsdelivr.net/sharrre/1.3.5/jquery.sharrre.min.js"></script>
<script>
$('#shareme').sharrre({
  share: {
    googlePlus: true,
    twitter: true,
    facebook: true
  },
  buttons: {
    googlePlus: {size: 'tall', annotation:'none', text: 'Europa decide sobre tu vida. ¡Ahora decide sobre Europa! Por una #EuropaPirata #VotaPIRATAS el #25M #EP2014'},
    twitter: {count: 'none'},
    facebook: {layout: '', text: 'Europa decide sobre tu vida. ¡Ahora decide sobre Europa! Por una #EuropaPirata #VotaPIRATAS el #25M #EP2014'}
  },
  enableHover: false,
  enableCounter: false,
  enableTracking: false
});
</script>
<p>&nbsp;</p>
