{% extends 'layout.html' %}

{% block title %}#SeBuscanPiratas - Primarias abiertas Elecciones Europeas 2014 | Confederación Pirata{% endblock %}
{% block hero %}
<h1>¡Gracias!</h1>
/* TODO Ahora, compártelo con tus amigos */
{% endblock %}
{% block content %}
<p>Próximamente recibirás un correo que te permitirá acceder al sistema de votación. Si necesitamos más información, te contactaremos en el correo que nos has indicado.</p>
<p>Para estar al día, síguenos en las redes sociales:</p>
/* TODO redes sociales */
<p>Muchas gracias,<br><a href="https://confederacionpirata.org">Confederación Pirata</a></p>
{% endblock %}
