{% extends 'layout.html' %}

{% block title %}Condiciones de uso | #SeBuscanPiratas - Primarias abiertas Elecciones Europeas 2014 | Confederación Pirata{% endblock %}
{% block menu %}
{% include 'mm.html' %}
{% endblock %}
{% block hero %}
<h1>Condiciones de uso</h1>
<p>Los piratas respetamos tu privacidad y tratamos tus datos con las mayores medidas de seguridad disponibles.</p>
{% endblock %}
{% block content %}
<h4>Derecho de información</h4> 
<p>A los efectos de lo previsto en la Ley Orgánica de Protección de Datos de carácter personal Confederación Pirata informa al usuario de la existencia de un fichero automatizado de datos de carácter personal creado por Confederación Pirata y bajo su responsabilidad, con la finalidad de realizar el mantenimiento y la gestión en relación con los solicitantes de información que han accedido a través de los formularios electrónicos a esta página web o mediante mensajes de correo electrónico. El antes mencionado fichero se ha inscrito en la <a href="http://www.agpd.es/">Agencia de Protección de Datos</a>.</p>
<h4>Finalidad</h4> 
 <p>Los datos que Ud. facilita a Confederación Pirata tienen como finalidad gestionar su solicitud de alta o facilitarle la información o servicios que nos solicite. Ud. acepta ser simpatizante de la Confederación Pirata y del partido confederado de su Comunidad Autónoma, si está registrado ante el Ministerio del Interior.</p>
 <h4>Consentimiento del usuario</h4> 
 <p>El uso de los formularios referidos, así como el envío de uno o más correos electrónicos, supone el consentimiento del remitente al tratamiento automatizado de los datos incluidos para exclusivo uso interno de la Confederación Pirata y del partido confederado de su Comunidad Autónoma, si está registrado ante el Ministerio del Interior. No obstante, este consentimiento podrá ser revocado en cualquier momento, poniéndo de manifiesto, por tanto, el carácter facultativo y no obligatorio del mismo.</p>
 <h4>Derecho de acceso</h4> 
 <p>Podrá ejercer el derecho de acceso, rectificación, cancelación y oposición al tratamiento de sus datos personales, en los términos y condiciones previstos en la propia LOCP. Para su mayor comodidad, también podrá ejercer estos derechos enviando un correo electrónico a la direccion <a href="mailto:contacto@confederacionpirata.org">contacto@confederacionpirata.org</a>. La página web del partido no utiliza técnicas de "Spamming", ni tampoco quedan registrados los usuarios per el mero hecho de visitarla. Confederación Pirata sólamente tratará la información que el usuario nos comunique por medio de correo electrónico o mediante algún formulario.</p>
<h4>Seguridad</h4> 
<p>Confederación Pirata mantiene los niveles de seguridad de protección de datos según el Real Decreto 1720/2007, de 21 de Diciembre, relativo a las medidas de seguridad de los ficheros automatizados que contengan datos de carácter personal y ha establecido todos los medios técnicos a su alcance a fin de evitar ninguna pérdida, mal uso, alteración, acceso no autorizado o robo de los datos que Ud. facilite a Confederación Pirata, sin perjuicio de informarle de que tales medidas en internet no son inexpugnables. Para cualquier tema relativo a la protección de datos de carácter personal, puede ponerse en contacto con nosotros en la dirección de correo electrónico <a href="mailto:contacto@confederacionpirata.org">contacto@confederacionpirata.org</a>.</p>
{% endblock %}
